<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Get-it</title>
    <link rel="stylesheet" href="templates\components\erro.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous"/> -->
  </head>

  <body>
    <div class="geral">
    <h1 class="geral">Não tem nenhuma página aqui...</h1>
    <img src="img/erro.png" />
    </div>
  </body>
</html>
