  <div class="card" >
    <form class="from" method="post">
    <h3 class="card-title" id="tx1" onclick="func1()" >{title}</h3>
    <input class="card-title-inp" type="text" name="titulo" value="{title}" id="inp1"/>
    <input class="card-title-inp" type="text" name="detalhes" id="inp2" value="{details}"/>
    <div class="card-content">
      <p id="tx2" onclick="func2()">{details}</p>
      
    </div>
    <div class="div_botao">
      <button class="botao1" type="submit" name="atualizar" value="{id}" id="update">Atualizar</button>
      <button class="botao1" type="submit" name= "apagar" value="{id}">Apagar</button>
      </div>
      </form>
  </div>
